@import url(globale.css);

.sec {
    display: flex;
    width: 100%;
    height: 100vh;
}

.containers {
    display: flex;
    width: 58%;
    flex-wrap: wrap;
}

.des {
    width: 100%;
    text-align: center;
    align-content: end;

}

.des h1 {
    width: 100%;
    font-family: var(--font-title) !important;
    margin-bottom: 40px;
}

.des h2 {
    font-size: 90px;
}

.dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    padding: 60px 40px;
}

.dev_contact a {
    text-decoration: none;
    color: var(--black);
}

.dev_contact hr {
    height: 1px;
    background-color: var(--deepgreen);
    border: none;
}

.containers_picture_head {
    width: 42%;
    overflow: hidden;
}

.containers_picture_head img {
    width: 120%;
}

@media (max-width: 950px) {
    .containers {
        display: flex;
        width: 700%;
        background-color: var(--clear);
    }

    .containers_picture_head img {
        display: none;
    }
}